:root {
  --main-color: orange;
  --text-color: white;
  --background-color: black;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}
.hero {
  background-color: var(--background-color);
  height: 100vh;
  padding-top: 100px;
  padding-left: 60px;
  color: var(--text-color);
}
.name {
  color: var(--main-color);
}
@media (max-width: 640px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
  }
}
