body {
  margin-top: 100px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}
@media (max-width: 640px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
  }
}
